/**
 Folha de estilo do site Moda Feminina
 @author Alex Reis
 */

/* >>>>>>>>>>>>>>>>>>>> google fonts <<<<<<<<<<<<<<<<<<<<<<< */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');






/* variáveis globais */
:root {
    --cinzaLayout: #3c3c3c;
    --cinzaTexto: #000000;
    --brancoLayout: #000000;
    --backgroundCard: #ffd700;
    --bordaLayout: #ffff;


}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* >>>>>>>>>>>>>>> LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>> */
html {
    scroll-behavior: smooth;
}

/*Estrutura do site*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
    display: flex;
    flex-direction: column;
}

.Containersobre {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
    display: flex;
    flex-direction: row;
}


.Flex,
.FlexCard,
.FlexMenu,
.FlexSection {
    display: flex;
}

.Flex {
    flex-direction: column;
}

.FlexCard {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FlexMenu {
    justify-content: space-between;
}

.FlexSection {
    align-items: center;
}

.Flex {
    flex-direction: column;
}

.FlexCard {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FlexMenu {
    justify-content: space-between;
}

.FlexSection {
    align-items: center;
}

/* cartão */
.Card {
    margin-top: 25px;
    width: 165px;
    height: 380px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 10px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 15px 50px 15px;
    text-align: left;
    color: var(--cinzaTexto);
}

.Button {
    text-decoration: none;
    background-color: var(--vermelhoLayout);
    color: var(--brancoLayout);
    padding: 10px 100px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

/* Topo do site*/
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Flex,
.FlexMenu {
    display: Flex;
    justify-content: space-between;
}

.Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* >>>>>>>>>>>Smartphone portrait >>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    height: 80px;
}

#logo img {
    width: 64px;
    height: 64.88px;
    margin: 10px 0px 0px 10px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 3px;
    color: rgba(60, 60, 60, 0.6);
}

nav ul {
    list-style: none;
    background-color: rgba(60, 60, 60, 0.95);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    /*estratégia para recolher o menu*/
    width: 70%;
    transition: all 0.5s;
}

.FlexPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagemSobre {

    margin: 16px 0;

}

#textoSobre {
    margin: 16px 0;

}

/* ativar o checkbox refernte a ul*/
#check:checked~ul {
    right: 0;
}

nav ul li {
    border-bottom: 0.5px solid var(--backgroundCard);
    text-align: right;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--backgroundCard)
}

/*Banner*/
main {
    background: url(img/background1.jpg);
    height: 25vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

main h1,
h2 {
    color: #daa520;
    font-size: 1.0em;
}

main h1 {
    font-family: "orbitron", sans-serif;
    font-size: 1.0em;
}

main h2 {
    display: block;
}

/* Rodapé */
footer {
    background-color: var(--bordaLayout);
    color: var(--brancoLayout);
    text-align: center;

}

#social {
    margin: 0px 0px 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#social img {
    padding-left: 8px;
}

/*** Página sobre ***/
#textoSobre p {
    text-align: left;
}

#textoSobre h2 {
    margin: 20px 0px;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

#textoSobre h3 {
    margin: 20px 0px;
    font-size: 1.2em;
    font-weight: 500;
}

#textoSobre ol {
    margin-left: 20px;
}

#textoSobre h4 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1em;
}

/* >>>>>>>>>>>>>>Smartphone landscape >>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* >>>>>>>>>> Layout <<<<<<<<<<*/
    .Container {
        max-width: 540px;

    }

    /* >>>>>>>>> Cabeçalho <<<<<<<<<<<<*/
    header {
        max-width: 540px;
        margin: 0 auto;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #social {
        margin: 0;
    }
}

/* >>>>>>>>>>>>Tablet portrait >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* >>>>>>>>>> Layout <<<<<<<<<<<*/
    .Container {
        max-width: 720px;
    }

    /* >>>>>>>>>>>>>>Cabeçalho <<<<<<<<<<<<<*/
    header {
        max-width: 720px;
        height: 100px;
    }

    #logo img {
        width: 80px;
        height: 80px;
        margin: 10px 0px 0px 0px;
    }

    /* >>>>>>>>>>>>>>> Menu <<<<<<<<<<<<<<<<<< */
    label {
        font-size: 4em;
        top: 25px;
        right: 5px;
    }

    nav ul {
        top: 100px;
        right: -50%;
        width: 50%;
    }

    /* >>>>>>>>>>>>>>>>> Destaque <<<<<<<<<<<<<<*/
    .Banner {
        display: block;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        color: var(--branco);
    }

    #slogan {
        font-family: "Orbitron", sans-serif;
        font-size: 1.75em;
        font-weight: 400;
    }

    #textoDestaque {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

/* >>>>>>>>>>>>> Tablet landscape >>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* >>>>>>>>>>>>>>>>> Layout <<<<<<<<<<<<<<<<<<<<<<*/
    .Container {
        max-width: 960px;
    }

    /* Cabeçalho */
    header {
        max-width: 992px;

    }
}

#destaqueIntro {
    display: none;
}

#destaqueIntro img {
    margin-right: 50px;
    border-radius: 20px;
}

#imagemYoutube {
    display: inline;
}

#imagemYoutube img {
    width: 256px;
    height: 256px;
}

/* >>>>>>>>PCs ou notebooks HD >>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* >>>>>>>>>>>>>>>>> Layout <<<<<<<<<<<<<<<*/
    .Container {
        max-width: 1140px;
    }

    /* >>>>>>>>>>>>>>>> Cabeçalho <<<<<<<<<<<<<<*/
    header {
        max-width: 1140px;
        height: 125px;
    }

    #logo img {
        width: 80px;
        height: 80px;
    }

    /*menu*/
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        position: static;
        height: auto;
        background-color: var(--brancoLayout);
        margin-top: 50px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        color: var(--cinzaLayout);
        font-weight: 500;
    }

    /* >>>>>>>>> Destacar link ativo do menu <<<<<<<<<<<<<<*/
    #index span#s1,
    #sobre span#s2,
    #projetos span#s3,
    #apoio span#s4 {
        display: inline;
        color: var(--vermelho);
    }

    /* Destaque */
    #destaque {
        height: 75vh;
    }

    #slogan {
        font-size: 2em;
        font-weight: 400;
    }

    #textoDestaque {
        font-size: 1.1em;
    }

    #intro {
        background-attachment: fixed;
    }

    #textoYoutube h2 {
        font-size: 2.5em;
    }

    #textoYoutube p {
        font-size: 1.25em;
        margin-bottom: 50px;
    }

    #destacado {
        font-size: 1.3em;
        font-weight: 750;
    }

    /* tela sobre */
    #textoSobre {
        margin-left: 50px;
    }


}

/* >>>>>>>>>>>>>>>>>>>>>>> fim PC ou note <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#intro {
    background-attachment: fixed;
}

/*Banner*/

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 1.5em;
}

/* >>>>>>>>>>>>>>>> PCs, notebooks ou Tv Full HD + <<<<<<<<<<<<<<<<<<<<< */
@media (min-width: 1400px) {

    /* Cabeçalho */
    header {
        height: 150px;
    }

    #logo img {
        width: 125px;
        height: 121.75px;
    }
}